body {
  margin: auto;
  padding: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  max-width: 70rem;


  background: #121212;
  color: #000000;
  font-family:
   "sonar", sans-serif;
  display: flex;

}

.glow {
  position: fixed;

  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 30%;
  display: block;
  background: radial-gradient(#064625aa 20%, #7ec97655);
  transform: translate(-50%, -50%);
  background-attachment: fixed;
  filter: blur(100px);
  z-index: -1;
}


@font-face {
  font-family: sonar;
  src: url("/font.ttf");
}